Repository hmcts/juror-pnc, pull requests merged in 2024-02, with the labels that each got.

#78 Ianrfisher patch 1
  charts/juror-pnc/values.ithc.template.yaml
  charts/juror-pnc/values.prod.template.yaml
  charts/juror-pnc/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-78

#85 remove chart environment vars
  charts/juror-pnc/values.ithc.template.yaml
  charts/juror-pnc/values.prod.template.yaml
  charts/juror-pnc/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-85

#87 Jm 6271
  build.gradle
  src/main/resources/application-integration.yaml
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-87
