Repository hmcts/juror-pnc, pull requests merged in 2024-01, with the labels that each got.

#50 remove Dependency check
  .github/workflows/ci.yml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-50

#56 adjust helm values
  charts/juror-pnc/values.demo.template.yaml
  charts/juror-pnc/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-56

#57 tidy up and remove syncing
  Jenkinsfile_CNP
  infrastructure/.terraform-version
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-57

#59 add stg template
  charts/juror-pnc/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-59
