Repository hmcts/juror-pnc, pull requests merged in 2024-03, with the labels that each got.

#98 reintroduce stg vars
  charts/juror-pnc/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-98

#109 task/JM-6567 - juror-pnc API update
  Dockerfile
  build.gradle
  src/main/java/uk/gov/hmcts/juror/pnc/check/config/ApplicationBeans.java
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-109

#105 Fixed issue where spring doc would not render correctly
  src/main/java/uk/gov/hmcts/juror/pnc/check/controller/JurorController.java
  src/main/resources/application.yaml
Labels: bug, documentation, ns:juror, prd:juror, rel:juror-pnc-pr-105

#113 Jm pnc certs
  build.gradle
  charts/juror-pnc/Chart.yaml
  charts/juror-pnc/values.yaml
  src/functionalTest/java/uk/gov/hmcts/juror/pnc/check/controllers/SampleFunctionalTest.java
  src/main/resources/application-integration.yaml
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/juror/pnc/check/controllers/SampleSmokeTest.java
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-113

#114 Update config scheme
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-114

#116 Added client scheme host port
  build.gradle
  src/main/java/uk/gov/hmcts/juror/pnc/check/client/JobExecutionServiceClientImpl.java
  src/main/java/uk/gov/hmcts/juror/pnc/check/client/JurorServiceClientImpl.java
  src/test/java/uk/gov/hmcts/juror/pnc/check/client/JobExecutionServiceClientImplTest.java
  src/test/java/uk/gov/hmcts/juror/pnc/check/client/JurorServiceClientImplTest.java
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-116

#119 update_codeowners
  .github/CODEOWNERS
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-119

#122 amend url
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-122

#123 amend url again
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-123

#124 Aligned Soap Action to old Pheonix application
  build.gradle
  src/main/resources/application.yaml
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-124

#126 Updated tran code to be 0 instead of O
  Jenkinsfile_CNP
  charts/juror-pnc/Chart.yaml
  charts/juror-pnc/values.yaml
  src/main/resources/application-integration.yaml
  src/main/resources/schema/PNCGenericXMLHeader.xsd
  src/test/java/uk/gov/hmcts/juror/pnc/check/mapper/GetPersonDetailsMapperTest.java
Labels: ns:juror, prd:juror, rel:juror-pnc-pr-126
